.billboard {
    height: calc(100vh - 95px);
    min-height: 600px;
    margin-top: 95px;
    background-size: cover;
    &__inner {
        display: flex;
        justify-content: center;
        margin-top: 20vh;
    }
    &__title {
        font-weight: bold;
        @include adaptiv-font(64, 28);
        line-height: 1.2;
        color: #fff;
        text-align: center;
        margin-bottom: 0;
        max-width: 800px;
    }
    &_c {
        .billboard__title {
            max-width: 100%;
        }
    }
}


/* Billboard media queries */

@media (min-height: 1000px) and (max-width: 1400px) {
    .billboard {
        &__inner {
            margin-top: 30vh;
        }
    }
}

@media screen and (max-width: 991px) {
    .billboard {
        min-height: 500px;
    }
}

@media screen and (max-width: 767px) {
    .billboard {
        height: calc(100vh - 92px);
        min-height: 400px;
        margin-top: 92px;
    }
}

@media screen and (max-width: 575px) {
    .billboard {
        &__inner {
            margin-top: 26vh;
        }
    }
}

@media screen and (max-width: 350px) {
    .billboard {
        &__inner {
            margin-top: 20vh;
        }
    }
}