.menu-popup {
    display: none;
    .popup {
        &__content {
            align-items: center;
            justify-content: center;
        }
        &__nav {
            width: 100%;
        }
    }
}

.menu-popup_main {
    .nav-list {
        &__item {
            width: 100%;
            padding-left: 0;
            text-align: center;
        }
        &__link {
            color: #fff;
            border-bottom: 2px solid transparent;
            &:hover {
                border-bottom: 2px solid #fff;
            }
        }
    }
}

.nav-list {
    display: flex;
    flex-wrap: wrap;
    &__item {
        width: 50%;
        padding-left: 7vw;
        margin-bottom: 18px;
    }
    &__item.active {
        .nav-list__link {
            color: #fff;
        }
    }
    &__link {
        font-weight: bold;
        @include adaptiv-font(36, 20);
        line-height: 1.18;
        color: $light-grey-color;
        transition: $transition-speed;
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
}


/* Menu-popup media queries */

@media screen and (max-width: 767px) {
    .nav-list {
        &__item {
            width: 100%;
            padding-left: 0;
            margin-bottom: 12px;
            text-align: center;
        }
    }
}